// Colors
$content-fg: #cdcdcd;
$content-bg: #ffffff;
$aside-fg: #888888;
$aside-bg: #f3f3f3;
$head-bg: #c0e6fd;
$info-bg: #e5f5fe;
$catch-bg: rgba(0,0,0,0.6);

// Dimensions
$main-width: 960px;
$inner-width: 600px;

// Fonts
$serif-font: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$sanserif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
