@import '_config';

.template-input{
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  &.block{
    overflow: auto;
    border: 1px solid;
    & > .textarea{
      width: 100%;
      min-height: 200px;
      padding: 5px;
      font-size: 11px;
      box-sizing: border-box;
    }
  }
  &.no-border{
    border-width: 0;
  }
  & > .title{
    margin-bottom: 5px;
    font-weight: bold;
  }
}
.template-input-radio-option{
  display: inline-block;
  vertical-align: middle;
  width: 180px;
  margin: 0px 5px;
  input,
  img{
    vertical-align: middle;
  }
  img{
    max-height: 100px;
    max-width: 150px;
  }
}
.template-input-sendmail{
  overflow: auto;
  button{
    display: block;
    width: 100%;
    padding: 16px 0;
    font-size: 26px;
    background: $head-bg;
    text-shadow: -1px 0 1px transparentize(lighten($aside-fg, 55%), 0.1);
    color: $aside-fg;
    border-width: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      text-shadow: 1px 0 1px transparentize(lighten($aside-fg, 5%), 0.1);
    }
    &:active{
      background: $info-bg;
      text-shadow: 1px 0 1px transparentize(lighten($aside-fg, 5%), 0.1);
    }
  }
  .left,
  .right{
    float: left;
    box-sizing: border-box;
  }
  .left{
    width: 80%;
  }
  .right{
    width: 20%;
    padding: 10px 0 0 10px;
  }
}
