@import '_config';

.template-builder{
  max-width: $main-width;
  margin: 10px auto;
  & > .content{
    position: relative;
    z-index: 1;
    max-width: $inner-width;
    color: $content-fg;
    &.header{
      height: 30px;
    }
  }
  .body{
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid;
    .body{
      margin-top: 10px;
    }
    & > .title{
      font-weight: bold;
    }
  }
}
